.pip-active {
    height: calc(var(--tab-height, 40px) + 180px) !important;
    display: flex;
    flex-direction: column;
}

.pip-container {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pip-video {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
}
